@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d2d37;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.App {
    font-family: sans-serif;
    text-align: center;
    padding: 0 36px;
    max-width: 665px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: left;
}

.todoListContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.todo {
    background-color: #e64944;
    width: 100%;
    text-align: left;
    margin: 4px 0;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
}

.completed {
    background-color: #d17d7c;
    text-decoration: line-through;
}

.todoForm {
    font-family: sans-serif;
    text-align: center;
    padding: 0 36px;
    max-width:450px;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    flex-direction: column;
}

form>input {
    background-color: #2d2d37;
    border: 0;
    padding: 6px 0;
    font-size: 1rem;
    width: 240px;
    outline: 0;
    color: white;
    border-bottom: 1px solid #e64944;
    margin-right: 8px;
}

button {
    background-color: #e64944;
    border: 1px solid #e64944;
    color: white;
    font-size: 16px;
    padding: 6px 14px;
}

input::placeholder {
    color: #e64944;
    opacity: 1;
}
.clear-btn {
    margin-top: 16px;
}


/* .red {
    background-color: red;
    text-decoration: line-through;
}

.todoForm{
    width: 33%;
    background: lightgray;
    display: flex;
    flex-direction: column;
    margin: 1%;
    text-align: center;
    border: 1px solid dodgerblue;
}

.todoListContainer{
    background: seashell;
    margin: 0 auto;   
}

.todoList{
    cursor: pointer;
}


} */